* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: rgb(255, 255, 255);
  font-family: "Oswald", sans-serif;
  text-align: center;

  .app__header {
    padding: 50px;
    display: grid;
    place-items: center;
    .app__title {
      font-size: 32px;
      border-bottom: 3px solid rgb(161, 62, 62);
    }
  }
}
